<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="css/estilo.css"> 
    <script src="../../socket.io/socket.io.js"></script> 
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
  <h1>CHAT</h1>
  <div id="primero">
    <ul id="messages"></ul>
    </div>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="Escribe aquí..." /><button>Enviar</button>
    </form>
    <div id="arr"><img src="/css/img/arrb.gif"></div>
    
    <script>
            var socket = io.connect('http://localhost:3000');


            // enviar mensaje de texto sin recargar/reiniciar la página
            $('form').submit(function(e){
                e.preventDefault(); // evitar recarga página
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            // Añadir mensaje texto al chat
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });
            // Añadir texto si alguien está online
            socket.on('is_online', function(username) {
                $('#messages').append($('<li>').html(username));
            });
            // Preguntar el nombre de usuario
            var username = prompt('Dime tu nombre, por favor');
            socket.emit('username', username);
    </script>
  </body>
</html>